*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(img/moon.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.4s;
}
.navbar ul li:hover::after{
    width:100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 63px;
    margin-top:80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


.card{
    width:240px;
    height:340px;
    display:inline-block;
    border-radius:10px;
    padding:15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin: 20px 30px;
    background-position:center;
    background-size: cover;
    transition:0.5s;
}
.card1{
    background-image: url(img/book.jpg);
}
.card:hover{
    transform: translateY(-15px);
}
.card2{
    background-image: url(img/box.jpg);
}

.card3{
    background-image: url(img/bag.jpg);
}

.card4{
    background-image: url(img/pullup.jpg);
}

.card5{
    background-image: url(img/mat.jpg);
}
